*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, red, blue);
}
.calc-box{
    border: 1px solid;
    border-right: 3px solid;
    border-bottom: 5px solid;
    /* height: 450px; */
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(181, 181, 181, 0.304);
}
.calc-box #display{
    border: 2px solid black;
    padding: 5px 10px;
    height: 30px;
    font-size: 2rem;
    text-align: right;
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.195);
}
.buttons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    
}
.one-button{
    height: 75px;
    width: 75px;
    padding: 20px;
    border: 1px solid black;
    color: rgb(208, 233, 255);
    border-radius: 10px;
    font-size: 1.3rem;
    background: rgba(128, 128, 128, 0.122);
}
.one-button:hover{
    background: rgba(131, 111, 205, 0.606);
    color: black;
}
